extends BaseEmail
block content
  p Congratulations #{name},
  p You have been admitted to Maduka University College.
  p You can now proceed to the next step of the admission process, which is to submit your acceptance letter and pay the admission fee.
  p  Maduka University College