extends baseEmail
block content
  p Dear #{name},
  p Thank you for taking the time to apply to Maduka University College and for your interest in joining our school. 
  p We appreciate the effort you put into your application and the chance to review your academic background and achievements.
  p After careful consideration by our admissions committee, we regret to inform you that we are unable to offer you a place for the 2026/2027 academic year.
  p This year we received a large number of highly qualified applications, and unfortunately, we have limited spots available. 
  p We wish you the very best with your academic journey and future applications.
  p Warm regards,
  p Maduka University College